<header class="flex items-center justify-between w-full z-10">
  <div class="flex items-center gap-3">
    <img
      src="./imgs/logo.jpg"
      alt="Iván Navas"
      class="rounded-full w-16 md:w-18 transition-all duration-500"
    />
    <div class="group flex items-center gap-3">
      <span class="text-xl md:text-2xl font-semibold text-[#d1d1d1]">Iván Navas</span>
      <img src="./imgs/verified.png" alt="verified" class="w-6 -ml-2 transition-all duration-200" />
    </div>
  </div>
  @if (!isMobile) {

  <div>
    <div class="flex items-center gap-4">
      <app-button-cv></app-button-cv>
      <app-button-lang></app-button-lang>
      <button
        class="px-4 py-1 md:py-2 border-1 border-[var(--theme-color)/40] hover:border-[var(--theme-color)] text-gray-400 hover:text-gray-100 rounded-full cursor-pointer transition-all duration-200 text-lg md:text-xl font-semibold"
        (click)="goToAboutMe()"
      >
        {{ 'contact' | translate }}
      </button>
    </div>
  </div>
  } @else {
  <div (click)="openMenu()">
    <svg
      class="w-6 h-6 text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-width="2"
        d="M5 7h14M5 12h14M5 17h14"
      />
    </svg>
  </div>
  } @if (isOpenMenu) {
  <div
    class="absolute right-0 top-12 w-48 rounded-xl shadow-lg bg-black/40 border backdrop-blur-sm border-[#828282]/40 flex flex-col gap-2 p-2 transition-all duration-300 z-50"
  >
    <div class="flex gap-4 p-4 rounded-lg">
      <app-button-cv></app-button-cv>
      <app-button-lang></app-button-lang>
      <a
        class="p-2  border-1 border-[var(--theme-color)/40] hover:border-[var(--theme-color)] text-gray-400 hover:text-gray-100 rounded-full cursor-pointer transition-all duration-200 text-lg md:text-xl font-semibold"
        (click)="goToAboutMe()"
      >
        <svg
          class="w-4.5 h-4.5 md:w-5 md:h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 9h5m3 0h2M7 12h2m3 0h5M5 5h14a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1h-6.616a1 1 0 0 0-.67.257l-2.88 2.592A.5.5 0 0 1 8 18.477V17a1 1 0 0 0-1-1H5a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
          />
        </svg>
      </a>
    </div>
  </div>

  }
</header>
