<app-new-section nameSection="about Me"></app-new-section>
<section class="relative mt-2 grid grid-cols-1 md:grid-cols-12 gap-2" id="contact">
  <!-- left side about me + contact -->
  <div class="flex flex-col gap-2 col-span-5">
    <!-- about me -->
    <app-section-card title="ABOUT ME">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </app-section-card>
    <!-- contact -->
    <app-new-section nameSection="contact"></app-new-section>
    <app-section-card>
      <div class="grid grid-cols-2">
        <div class="flex flex-col">
          @for (item of itemsInput; track $index) {
          <label for="name" class="text-md font-semibold">
            {{ item.label }}
          </label>
          <input
            class="border text-sm border-[#828282] p-2 rounded-lg mt-1 mb-2 placeholder:text-gray-400"
            type="item.type"
            [placeholder]="item.placeholder"
          />
          }
        </div>
        <!-- socials icons -->
        <div class="flex flex-col gap-2 justify-center items-center">
          @for (item of socials; track $index) {
          <div class="flex flex-col gap-1 items-center">
            <img
              [src]="item.src"
              [alt]="item.alt"
              class="w-8 h-8 hover:scale-110 transition-transform duration-300 cursor-pointer"
            />
            {{ item.name }}
          </div>
          }
        </div>
      </div>
    </app-section-card>
  </div>
  <!-- right side current focus + experience -->
  <div class="col-span-7 space-y-2">
    <div class="flex gap-2 items-start">
      <!-- skills -->
      <app-section-card title="SKILLS">
        <div class="flex flex-wrap gap-1">
          @for (util of skills; track $index) {
          <app-icon-skill [util]="util"></app-icon-skill>
          }
        </div>
      </app-section-card>
      <!-- Testimonials  -->
      <app-section-card title="Testimonials">
        <div class="p-4 border-1 border-[#828282]/40 rounded-2xl">
          <p class="italic">
            "As Iván's mentor during his internship at Better Consultants, I can assure that he is a skilled professional with a strong desire to learn and improve every day, demonstrating great potential in completing the various tasks assigned to him."
          </p>
        </div>
      </app-section-card>
    </div>
    <!-- Current focus -->
    <app-section-card title="CURRENT FOCUS">
      <div class="flex gap-2 ">
        <app-box-project [project]="project"></app-box-project>
        <p>
          {{ 'job-desc' | translate }}
        </p>
      </div>
      <div class="mt-12">
        <h2 class="bebas text-4xl off-color">EXPERIENCE</h2>
        <div class="flex items-center gap-1">
          <p>{{ 'job-title' | translate }}</p>
          <hr class="w-12 m-2" />
          <span class="text-[#828282] text-sm">03/2025 - Actual</span>
        </div>
      </div>
    </app-section-card>
  </div>
  <div class="absolute top-56 left-8/12 flex items-center gap-2">
    <img src="./arrow.svg" alt="arrow" class="w-12 h-12 scale-x-[-1]" />
    <span class="text-[#828282] text-md">thaks you! :)</span>
  </div>
</section>
