<app-new-section nameSection="about Me"></app-new-section>
<section class="mt-2">
  <div class="flex flex-col">
    <div class="flex gap-6 items-start">
      <!-- ABOUT ME -->
      <div class="flex flex-col p-4 border-1 border-[#828282]/40 rounded-2xl max-w-5xl">
        <h2 class="bebas text-4xl off-color">ABOUT ME</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </div>
      <!-- current focus -->
      <div class="flex flex-col p-4 border-1 border-[#828282]/40 rounded-2xl max-w-2xl space-y-2">
        <h2 class="bebas text-4xl off-color">CURRENT FOCUS</h2>
        <p>
          I currently work as an Angular developer in the banking sector, building modern and
          efficient interfaces within a microservices architecture, aligned with the quality and
          security standards of the financial environment.
        </p>
        <div>
          <img src="./bankinter.svg" alt="">
        </div>
        <h2 class="bebas text-4xl off-color">EXPERIENCE</h2>
        <p>
          ● Front End developer in Better Consultants
          <span class="text-gray-200 text-sm">03/2025 - Actual</span>
        </p>
      </div>
    </div>
    <!-- new section -->
    <div class="flex justify-between items-center gap-6">
      <div class="flex flex-col p-2 border-1 border-[#828282]/40 rounded-2xl">
        <!-- CONTACT AND SOCIALS ICONS -->
      </div>
      <!-- idk -->
    </div>
  </div>
</section>
