@import 'tailwindcss';

body {
  background-color: #111111;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.off-color {
  color: #d1d1d1;
}
.off-color:hover {
  color: #aaaaaa;
  transition: all 0.2s ease-in-out;
}



